<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="接口自动化测试" verbose="1" >
    <listeners>
        <listener class-name="autointerface.demo.tools.TestReport_original"/>
    </listeners>

    <test name="interface -- demo">
        <classes>
            <class name="autointerface.demo.mytest.MyDemoTest"/>
            <class name="autointerface.demo.mytest.MyShowTest" />
        </classes>
    </test>
</suite>